* {
	box-sizing:border-box;
}
/*
* [1]
* Minmax function
* -- - -- -
* -- - -- -
* So if I want my automatically created rows to have a minimum size and a size to fit the content I use a minimum size 
* for instance 60px and then max auto. That will do so the row adjusts automatically to fit the content. 
*/
.grid {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap:20px;
	grid-auto-rows:minmax(60px, auto); /* [1] */
}
.grid div {
	color:#fff;
	padding:10px;
}
.grid div:nth-child(even) {
	background-color:#343d46;
}
.grid div:nth-child(odd) {
	background-color:#8390ad;
}

.flex {
	display:flex;
}
.flex div {
	color:#fff;
	padding:10px;
}
.flex div:nth-child(even) {
	background-color:#e8d0b9;
}
.flex div:nth-child(odd) {
	background-color:#8390ad;
}