* {
	box-sizing:border-box;
}
/*
* [1]
* Auto-fill and auto-fit keywords
* -- - -- -
* -- - -- -
* In order to change an items order, you have to specify the rest of the items' order
* This order-property only changes the visuals, not in the mark-up. Can be imporant to 
* have in mind if you work with accessability.
*/
.grid {
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
	grid-gap:20px;
}
.grid div:nth-child(2) {
	order:1;
}
.grid div {
	order:2;
	color:#fff;
	padding:10px;
}
.grid div:nth-child(even) {
	background-color:#343d46;
}
.grid div:nth-child(odd) {
	background-color:#8390ad;
}
.flex {
	display:flex;
}
.flex div {
	color:#fff;
	padding:10px;
}
.flex div:nth-child(even) {
	background-color:#e8d0b9;
}
.flex div:nth-child(odd) {
	background-color:#8390ad;
}